## 01. Import Libraries

In [78]:
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [79]:
# folder path
path = r'/Users/lavinia/Documents/04-2020 Instacart Basket Analysis'

In [80]:
# import ords_prods_merged
df_ords_prods = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [81]:
# create a subset data from ords_prods_merged
df = df_ords_prods [:1000000]

## 03. Derive New Variables

In [82]:
# create new function name price_label
def price_label(row): # tell the function to look at each row within df

        if row['prices'] <= 5:
            return 'Low-range product'
        elif (row['prices'] > 5) and (row['prices'] <= 15):
            return 'Mid-range product'
        elif (row['prices'] > 15):
            return 'High range'
        else: return 'Not enough data'

In [83]:
# to apply the price_label to all rows within the dataframe (axis =1)
df['price_range'] = df.apply(price_label, axis =1)

<ipython-input-83-d143fdbf2942>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis =1)

In [84]:
# count number of occurences using value_counts
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [85]:
# checking the most expensive product within the subset
df['prices'].max()

14.8

## 04. If-Statements

## If-Statements with the loc() Function

In [86]:
# create the condition
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [87]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [88]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low range product'

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [89]:
df['price_range_loc'].value_counts(dropna = False)

Mid range product    756450
Low range product    243550
Name: price_range_loc, dtype: int64

In [90]:
# using df_ords_prods instead of df
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'Higher-range product'

In [91]:
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [92]:
df_ords_prods.loc[df_ords_prods['prices'] <=5 , 'price_range_loc'] = 'Low-range product'

In [93]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

Mid-range product       21860860
Low-range product       10126321
Higher-range product      417678
Name: price_range_loc, dtype: int64

## If-Statements with For_Loops

In [94]:
# print the frequency of the "order_day_of_week" column
df_ords_prods['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

Saturday is the busiest day, Wednesday is the slowest day when it comes to Instacart app orders. To use this information to create a new column, "busiest day", that will contain one of three different values: "Busiest day", "Least busy", "Regularly busy" using for-loop

In [95]:
result = []

for value in df_ords_prods["order_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [96]:
# combining "result" with df_ords_prods dataframe
df_ords_prods['busiest_day'] = result

In [97]:
df_ords_prods['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# A4, E7

## 2) Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [98]:
result_client = []

for value in df_ords_prods['order_day_of_week']:
    if (value == 0) or (value == 1):
        result_client.append('Busiest days')
    elif (value == 4) or (value == 3):
        result_client.append('Slowest days')
    else:
        result_client.append('Regular busy days')

In [99]:
# combining "result_client" with df_ords_prods dataframe
df_ords_prods['busiest_days'] = result_client

## 3) Check the values of this new column for accuracy.

In [100]:
df_ords_prods['busiest_days'].value_counts(dropna = False)

Regular busy days    12916111
Busiest days         11864412
Slowest days          7624336
Name: busiest_days, dtype: int64

## 4) When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [101]:
# create subset dataframe for testing on user_id = 1
df_ords_prods[(df_ords_prods['user_id'] == 1) & (df_ords_prods['order_hour_of_day'] == 8)].sort_values(by =['order_id','product_id'], ascending =[True, False])

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
60725,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regular busy days
58202,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regular busy days
35791,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regular busy days
51726,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regular busy days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular busy days
529593,2550362,1,10,4,8,30.0,46149,2,1,Zero Calorie Cola,77,7,13.4,both,Mid-range product,Least busy,Slowest days
614509,2550362,1,10,4,8,30.0,39657,3,0,Milk Chocolate Almonds,45,19,6.8,both,Mid-range product,Least busy,Slowest days
619528,2550362,1,10,4,8,30.0,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Least busy,Slowest days
632766,2550362,1,10,4,8,30.0,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,both,Low-range product,Least busy,Slowest days
447093,2550362,1,10,4,8,30.0,25133,5,1,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days
443337,2550362,1,10,4,8,30.0,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Least busy,Slowest days
51735,2550362,1,10,4,8,30.0,12427,9,1,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days
61947,2550362,1,10,4,8,30.0,10258,6,1,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [102]:
df_test = df_ords_prods[df_ords_prods['user_id'] == 1]

In [103]:
df_test['order_hour_of_day'].value_counts(dropna = False)

7     15
8     14
15     8
14     6
16     6
9      5
12     5
Name: order_hour_of_day, dtype: int64

In [104]:
# count the number of orders placed during each hour of the day regardless the number of products placed by each user_id
df_test.groupby('order_hour_of_day')['order_id'].nunique()
# to understand number of orders being placed during each hour of the day in order to identify the peak hours where there are too many users making orders at the same time

order_hour_of_day
7     3
8     2
9     1
12    1
14    1
15    1
16    1
Name: order_id, dtype: int64

In [105]:
# looking at number of products sold by hour of the day
df_test.groupby('order_hour_of_day')['add_to_cart_order'].sum().sort_values(ascending = False)
# to identify whether users placing small or big orders during certain hour of the day

order_hour_of_day
8     60
7     46
15    36
14    21
16    21
9     15
12    15
Name: add_to_cart_order, dtype: int64

In [111]:
# looking at sales by hour of the day 
df_test['total_sales'] = df_test['prices'] * df_test['add_to_cart_order']

<ipython-input-111-24cb29f964ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['total_sales'] = df_test['prices'] * df_test['add_to_cart_order']

In [107]:
df_test.groupby('order_hour_of_day')['total_sales'].sum().sort_values(ascending = False)
# to identify whether user buying more expensive items during certain hour of the day

order_hour_of_day
8     319.3
15    276.1
7     244.3
14    143.6
16    131.8
9      82.6
12     77.2
Name: total_sales, dtype: float64

Answer for Q4: 
The 24 hours of the day can be split into following in column "busiest_period_of_day":
“Most orders” : 10, 11, 15, 14, 13, 12, 16, 9
“Average orders”: 17, 18, 8, 19, 20, 7, 21, 22
“Fewest orders” : 23, 6, 0, 1, 5, 2, 4, 3

In [113]:
# Identify number of hours based on order_hour_of_day
df_ords_prods.groupby('order_hour_of_day')['order_id'].nunique().sort_values(ascending = False)

order_hour_of_day
10    271871
11    267989
15    266117
14    265544
13    261160
12    256188
16    255936
9     243473
17    214074
18    170992
8     168307
19    131611
20     98102
7      86646
21     73433
22     57538
23     37613
6      28791
0      21371
1      11595
5       8970
2       7070
4       5174
3       5120
Name: order_id, dtype: int64

In [115]:
# using if-statements with for-loops

result_q4 = []

for value in df_ords_prods['order_hour_of_day']:
    if value in [10, 11, 15, 14, 13, 12, 16, 9]:
        result_q4.append('Most orders')
    elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
        result_q4.append('Fewest orders')
    else:
        result_q4.append('Average orders')

In [116]:
# combining result_q4 with the df_ords_prods dataframe
df_ords_prods['busiest_period_of_day'] = result_q4

## 5) Print the frequency for this new column

In [120]:
df_ords_prods['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

## 6) Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [122]:
df_ords_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))